@import "../../styles/app";

.widget {
  max-width: 360px;
  margin: 0 auto;
  padding: 30px !important;

  :global .form-control {
    font-size: 14px;
  }
}

.background {
  background-image: url(https://tu.ltyuanfang.cn/api/fengjing.php);
  background-repeat: "no-repeat";
  background-position: "center";
  padding: 0 !important;
  height: 100vh;
}
